# Environment
.env
venv/
.venv/

# Database
*.db
instance/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Test cache
.pytest_cache/
htmlcov/
*.coverage

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Distribution
*.egg-info/
dist/
!app/static/dist/
build/
